# Data Science Academy

## Fundamentals of Python Language for Data Analyse and Data Science

### Introduction to Objecte Oriented Programming

In [1]:
# Python Language version
from platform import python_version
print("Python Language version used in this Jupyter Notebook: ", python_version())

Python Language version used in this Jupyter Notebook:  3.11.5

### Objects
Everything in Python is an Object!!

In [2]:
# Creating a List
lst_num = ["Data", "Science", "Academy", "Grade", 10, 10]

In [3]:
# The list lst_num is an object, an instance of the class list in Python
type(lst_num)

list

In [7]:
lst_num.count('a')

0

In [6]:
# We use the function type, to check the type of an object
print(type(10))
print(type([]))
print(type({}))
print(type(()))
print(type('10'))

<class 'int'>
<class 'list'>
<class 'dict'>
<class 'tuple'>
<class 'str'>

In [8]:
# Creating a new type of object called Car
class Car(object):
    pass

In [9]:
# Instance of Car
ferrari = Car()

In [10]:
print(type(ferrari))

<class '__main__.Car'>

In [13]:
# Creating a class
class Student:
    def __init__(self, name, age, grade):
        self.name = name
        self.age = age
        self.grade = grade

In [15]:
# Creating a object called Stundet1 from the class Student
Student1 = Student("Bob", 12, 9.5)

In [16]:
Student1.name

'Bob'

In [17]:
Student1.age

12

In [18]:
Student1.grade

9.5

In [26]:
# Creating a class
class Employees:
    
    def __init__(self, name, wage, position):
        self.name = name
        self.wage = wage
        self.position = position
    
    def ListEmplys(self):
        print("Employee: " + self.name + " have the wage of $" + str(self.wage) + " and works as a " + self.position)

In [27]:
# Creating an object called Emply1 from the class Employees
Emply1 = Employees("Mary", 2000, "Data Scientist")

In [29]:
# Using the method of the class
Emply1.ListEmplys()

Employee: Mary have the wage of $2000 and works as a Data Scientist

In [31]:
print("**** Using attributes ****" )

**** Using attributes ****

In [32]:
hasattr(Emply1, "name")

True

In [33]:
hasattr(Emply1, "wage")

True

In [34]:
setattr(Emply1, "wage", 4500)

In [35]:
hasattr(Emply1, "wage")

True

In [36]:
getattr(Emply1, "wage")

4500

In [37]:
delattr(Emply1, "wage")

In [38]:
hasattr(Emply1, "wage")

False

## End
### Thank you!