# Data Science Academy

### Fundamentals of Python Language for Data Analysis and Data Science

### Chapter 5 - Functions

In [1]:
# Version of Python language
from platform import python_version
print("Version of Python Language used in this Jupyer Notebook: ", python_version())

Version of Python Language used in this Jupyer Notebook:  3.11.5

## Functions

In [1]:
print("Hello World!")

Hello World!

In [2]:
# Defining a List
def firstFunction():
    print("Hello World!")

In [4]:
firstFunction()

Hello World!

In [6]:
# Defining a function with parameter
def secondFunction(name):
    print("Hello %s" %(name))

In [8]:
secondFunction("Matheus")

Hello Matheus

In [9]:
# Function to print numbers
def printNumbers():
    # Loop
    for i in range(0, 5):
        print("Number: " + str(i))

In [10]:
printNumbers()

Number: 0
Number: 1
Number: 2
Number: 3
Number: 4

In [13]:
# Function to sum numbers
def addNum(firstNum, secondNum):
    print("First number: " + str(firstNum))
    print("Second number: " + str(secondNum))
    print("Sum: ", firstNum + secondNum)

In [15]:
# Calling the function with parameters
addNum(10, 20)

First number: 10
Second number: 20
Sum:  30

In [16]:
# Functions with a variable number of arguments
def printVarInfo(arg1, *vartuple):
    # printing the value of the first argument
    print("The parameter given was: ", arg1)
    
    # Printing the value of the second argument
    for item in vartuple:
        print("The parameter given was: ", item)
    return;

In [17]:
# Calling the function using only 1 argument
printVarInfo(10)

The parameter given was:  10

In [18]:
printVarInfo("Chocolate", "Strawberry")

The parameter given was:  Chocolate
The parameter given was:  Strawberry

In [19]:
printVarInfo("Data", "Science", "Matheus")

The parameter given was:  Data
The parameter given was:  Science
The parameter given was:  Matheus

## Variable scope - Local and Global

In [24]:
# Global Variable
var_global = 10 # This is a global variable

def multiple_numbers(num1, num2):
    var_global = num1 * num2 # This is a local variable
    var_local = num1 * num2 # This is a local variable
    print(var_global)
    print(var_local)

In [25]:
multiple_numbers(5, 25)

125
125

In [27]:
print(var_global)

10

In [30]:
# Global Variable
var_global = 10 # This is a global variable
# Function
def multiple_number(num1, num2):
    var_local = num1 * num2
    print(var_local)

In [31]:
multiple_number(10, 10)

100

In [32]:
print(var_local)

NameError: name 'var_local' is not defined

### Functions Built-in

In [33]:
abs(-56)

56

In [34]:
abs(23)

23

In [35]:
bool(0)

False

In [36]:
bool(1)

True

In [37]:
int(4.3)

4

In [38]:
str(13)

'13'

In [39]:
float(5)

5.0

In [40]:
# Error to execute because of the conversion
age = input("Type your age: ")
if age > 16:
    print("You can access Social media without supervision")
else:
    print("Your parents should't let you access Social Media without supervision!")

Type your age: 20

TypeError: '>' not supported between instances of 'str' and 'int'

In [42]:
# Using a function int to convert the typed value
age = int(input("Type your age: "))
if age > 16:
    print("You can access Social media without supervision")
else:
    print("Your parents should't let you access Social Media without supervision!")

Type your age: 20
You can access Social media without supervision

In [43]:
int("26")

26

In [51]:
float("123.3A45")

ValueError: could not convert string to float: '123.3A45'

In [45]:
str(14)

'14'

In [46]:
len([23, 24,34,2])

4

In [47]:
array = [1,2,3]

In [48]:
max(array)

3

In [49]:
min(array)

1

In [50]:
list1 = [16,23,254,2]

In [52]:
sum(list1)

295

### Creating Functions Using other Functions
https://pypi.org

In [53]:
import math

# Checking if a number is prime
def numPrime(num):
    if (num % 2) == 0 and num > 2:
        return "This number isn't prime"
    for i in range(3, int(math.sqrt(num)) + 1, 2):
        if (num % i) == 0:
            return "This number is prime!"
    return "This number is prime"

In [54]:
numPrime(541)

'This number is prime'

In [61]:
numPrime(4)

"This number isn't prime"

In [55]:
low_box = "This Text Should Be All in LowerCase"

In [56]:
def lowercase(text):
    return text.lower()

In [57]:
lowercased_string = lowercase(low_box)

In [58]:
lowercased_string

'this text should be all in lowercase'

### Spliting the Data

In [62]:
# Spliting the data
def split_string_words(text):
    return text.split(" ")

In [63]:
text = "This funciton will be very useful to separate a big volume data"

In [64]:
print(split_string_words(text))

['This', 'funciton', 'will', 'be', 'very', 'useful', 'to', 'separate', 'a', 'big', 'volume', 'data']

In [65]:
# We can attribuate the output of a function to a variable
token = split_string_words(text)

In [66]:
token

['This',
 'funciton',
 'will',
 'be',
 'very',
 'useful',
 'to',
 'separate',
 'a',
 'big',
 'volume',
 'data']

In [67]:
# Splitting the data
def split_string_letters(text):
    text = text.upper()
    for letter in text:
        print(letter)

In [68]:
split_string_letters(text)

T
H
I
S

F
U
N
C
I
T
O
N

W
I
L
L

B
E

V
E
R
Y

U
S
E
F
U
L

T
O

S
E
P
A
R
A
T
E

A

B
I
G

V
O
L
U
M
E

D
A
T
A

## End

### Thank you!