# Data Scinece Academy

## Fundamentos de Linguagem Python para Análise de Dados e Data Science

### Capítulo 4 - Data Structure - Working with Tuples

### Working with tuples

In [1]:
# Creating a tuple
tuple1 = ("Geography", 23, "Elephant", 9.8, "Python")

In [2]:
tuple1

('Geography', 23, 'Elephant', 9.8, 'Python')

In [3]:
# Tuples doesn't support append()
tuple1.append("Chocolate")

AttributeError: 'tuple' object has no attribute 'append'

In [4]:
# Tuples doesn't support the delete of a specific item
tuple1.delete("Elephant")

AttributeError: 'tuple' object has no attribute 'delete'

In [5]:
# Tuples can be a single item
tupleS = ("Chocolate")

In [6]:
tupleS

'Chocolate'

In [7]:
tuple2 = ("Geography", 23, "Elephants", 9.87, "Python")

In [8]:
tuple2[0]

'Geography'

In [9]:
len(tuple2)

5

In [10]:
tuple2[1:]

(23, 'Elephants', 9.87, 'Python')

In [12]:
tuple2.index('Elephants')

2

In [13]:
tuple2[1] = 2

TypeError: 'tuple' object does not support item assignment

In [23]:
t3 = ("A", "B", "C")

In [24]:
t3

('A', 'B', 'C')

In [25]:
t3[0] = 'D'

TypeError: 'tuple' object does not support item assignment

In [26]:
list_t3 = list(t3)

In [27]:
list_t3

['A', 'B', 'C']

In [28]:
list_t3.append("D")

In [29]:
list_t3

['A', 'B', 'C', 'D']

In [30]:
type(t3)

tuple

In [31]:
type(list_t3)

list

In [32]:
# Using a function tuple() to convert a list to a tuple
t3 = tuple(list_t3)

In [33]:
t3

('A', 'B', 'C', 'D')

## End