# Data Science Academy

## Fundamentals of Python Language for Data Analysis and Data Science

### Chapter 6 - Enumerate Function

In [1]:
# Version of Python Language
from platform import python_version
print("Python Version used in this Jupyter notebook is: ", python_version())

Python Version used in this Jupyter notebook is:  3.11.5

## Enumerate Function

The enumerate() function in Python is a function that allows to iterate over a data structure (like a list, tuple or other iterable object). The function enumerate() returns an enumerate object, that can be used in loops to run through data structure and access the count and the value of each element.

In [2]:
# Creating a list
seq = ['a', 'b', 'c']

In [3]:
enumerate(seq)

In [4]:
list(enumerate(seq))

[(0, 'a'), (1, 'b'), (2, 'c')]

In [6]:
# Printing the values of a list with the function enumerate()
# and your respectives index
for index, value in enumerate(seq):
    print(index, value)

0 a
1 b
2 c

In [7]:
for index, value in enumerate(seq):
    if index >= 2:
        break
    else:
        print(value)

a
b

In [8]:
lst = ["Marketing", "Technology", "Business"]

In [9]:
for i, item in enumerate(lst):
    print(i, item)

0 Marketing
1 Technology
2 Business

In [10]:
for i, item in enumerate("Data Science Academy"):
    print(i, item)

0 D
1 a
2 t
3 a
4
5 S
6 c
7 i
8 e
9 n
10 c
11 e
12
13 A
14 c
15 a
16 d
17 e
18 m
19 y

In [11]:
for i, item in enumerate(range(10)):
    print(i, item)

0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9

## End

### Thank you!